---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<div class="row">
    {% if page.no-post-nav %}
    <div class="col-md-12 markdown-body">
        {{ content }}
        {% include comment.html %}
    </div>
    {% else %}
    <div class="col-md-8 markdown-body">
        {{ content }}
        {% include comment.html %}
    </div>
    <div class="col-md-4">
        {% include comment.html %}
    </div>
    {% endif %}

</div>
